* {
    margin: 0;
    padding: 0;
    background-color:rgba(0,170,0,0)

}

body {
    overflow-y: scroll;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}



.radar-infographic {
    position: relative;
    font-family: "K2D", "Raleway", "Helvetica", "Arial", sans-serif;
}

button {
    cursor: pointer;
}

#svg-overlay {
    position: fixed;
    top: 0;
    left: 0;
}

svg {
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.fill-out {
    position: absolute;
    width: 100%;
    height: 100%;
}

.no-select {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.dot-text {
    text-align: left;
    color: #000;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 500;
    position: relative;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.dot {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    bottom: -13%;
    left: 50%;
    will-change: transform;
    font-size: 12px;
    transform-box: view-box;
    transition: transform 0.5s ease-out;
}

.reverse-text {
    flex-direction: row-reverse;
    text-align: right;
    left: auto;
}

.square {
    width: 33%;
    height: 50%;
    border-radius: 2px;
}

.disappear {
    opacity: 0;
}

.label-box, .label-text {
    transition: opacity 0.5s ease-out;
}

.label-box {
    fill: rgb(216, 197, 175);
}

.field {
    fill: rgb(216, 197, 175);
    transition: opacity 1s ease-out;
}

.afproev {
    opacity: 0.6;
}

.hold-oeje {
    opacity: 0.4;
}

.afvent {
    opacity: 0.2;
}

.klar, #klar-label-box {
    transition: transform 0.5s ease-out;
    
    transform-box: fill-box;
}

.klar {
    transform-origin: bottom;
}

#klar-label-box {
    transform-origin: right;
}

/* START Style for the color key at the bottom right */

.color-key {
    height: 9%;
    width: 49%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    align-content: center;
    justify-content: space-around;
}

.administration {
    height: 100%;
    width: 16.66%
}

.big-square {
    margin-left: 25%;
    margin-right: 25%;
    height: 60%;
    border-radius: 4px;
}

/* END Style for the color key at the bottom right */

.screen-size-flexbox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.square-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 0.9rem;
    height: 0.6rem;
    align-content: flex-start;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

h2 {
    font-size: 18px;
    
}

.administration h1 {
    text-align: center;
    font-size: 3vh;
}

.dot-text {
    font-size: 14px;
}

.dot:hover {
    transform: scale(1.05);
    transform-origin:center;
}

.maturity-3 {
    z-index: 12
}

.maturity-2, .maturity-1, .maturity-0 {
    z-index: 10;
    transition: opacity .25s ease-out;
}

#finger {
    animation: tap 1.2s ease-out alternate-reverse infinite;
}

/* START Style for info box */

.info-box {
    position: fixed;
    background-color: #FFFAD6;
    z-index: 10000;
    color: #004139;
    text-align: center;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
} 

.vertical-center {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 4px;
}

.top-right-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    font-weight: bold;
    font-size: 24px;
    border: none;
    background: none;
}

.close:hover {
    color: #27665e;
    transition: color .2s;
}


.fullscreen-info {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255);
    text-align: center;
}

.loader {
    position: fixed;
    background-color: #fff;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.read-more {
    border-radius: 0;
    border: none;
    background-color:#004139;
    padding: 10px;
    margin-top: 10px;
    color: #FFFAD6;
}

.read-more:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #004139;
    box-sizing: border-box;
    background-color: #FFFAD6;
    outline: solid;
    border-color:#004139;
    
}

.pictogram {
    max-width: 8vmax;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

/* END Style for info box */


.bu-color {
    background-color: #eb2f2c;
}

.velfaerd-color {
    background-color: #ea7c3c;
}

.ks-color {
    background-color: #7b3794;
}

.oea-color {
    background-color: #a5a5a5;
}

.tm-color {
    background-color: #65b14f;
}

.komstab-color {
    background-color: #f2eb51;
}

@keyframes tap {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
}

.zoom-field {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: zoom-field 1.2s ease-out forwards;
    z-index: 11
}

@keyframes zoom-field {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2.73);
    }
}

/* LOADER */
/* From https://loading.io/css/ */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}