* {
    font-family: 'Noto Sans JP';
    margin: 0;
    padding: 0;  
}

.hero { 
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:linear-gradient(0deg, rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('assets/bw-code.png');
    background-position: center;
    background-size: cover;
}

.hero h1 { 
    position: relative;
    bottom: -5%;
}

h1 { 
    
    font-size: 10vmax;
    line-height: 10vmax;
    text-transform: uppercase;

}


.hero h1, .hero h2 { 
    padding-left: 7vw;
    padding-top: 7vh;
}


.hero h2 { 
    font-size: 2vmax;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

h3 {

}

h4 {

}

.black { 
    background-color: black;
    color: white;
}

.full-height { 
    height: 100vh;
    padding: 10vh;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    background-color: #610FBA;
    color: white;
    border: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

.all-center { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}